/* This is the CSS for the about page specifically */
*{box-sizing: border-box;}
*{font-family: 'Playfair Display', serif;}

.topnav {
    background-color: #443836;
    color: #F5F5F5;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.img-top {
    background-image: url(/images/sweeties\ 1.png);
    background-size: cover;
    background-repeat:no-repeat ;
    object-fit: contain;
    padding: 150px;
    border: solid;
    border-color: #A9D378;
}

a{
    color: #F5F5F5;
}

.first-p {
    display: flex;
    justify-content: flex-start;

}

form {
    flex-direction: column;
    padding: 80px;
    height: 100%;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

#button {
    border-radius: 999px;
    background-color: #A9D378;;
    color: #FFFF;
    padding: 20px 40px;
    border: none;
    margin: 12px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    
}

label, input {
    display: block;
}

label {
    margin-bottom: 20px;
}