/* This is the form-page CSS. It could either be used as a stand alone page 
or as a card within another page */

.heading-text {
    color: white;
}

.topnav {
    background-color: #443836;
    color: #F5F5F5;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.img-top {
    background-image: url(/images/sweeties\ 1.png);
    background-size: cover;
    background-repeat:no-repeat ;
    object-fit: contain;
    padding: 150px;
    border: solid;
    border-color: #A9D378;
}

a{
    color: #F5F5F5;
}

.site-structure {
    max-width: 1440px;
    min-height: 900px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Amplitude Aubi", Sans-serif;
}
.form-base-layer {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    min-height: 600px;
    background-color:#443836;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    padding: 65px;
    border-radius: 8px;
}

.logo-img {
    display: flex;
    max-width: 20em;
}
.form-input-fields {
    display:flex;
    flex-direction: column;   
}

.label {
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-radius: 5px 5px 0px 0px;
    padding:5px 0px 0px 10px; 
    min-height: 20px;
    font-size: small;
}
.input-field {
    min-height: 30px;
    border:none;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.input-field:focus {
    outline-width: 1px;
    outline-color:#818a91;
}
.select {
    padding-left: 17px;
    cursor: pointer;
}
.button {
    min-height: 40px;
    width: 100%;
    background-color: #A9D378;
    border:none;
    border-radius: 5px 5px 5px 5px;
    font-family: "Amplitude Aubi", Sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color: #bd4515;
}
.button:focus {
    background-color: #7dba00;
    outline:none;
}

footer {
    background-color: #443836;
    display: flex;
    border: solid;
    border-color: #A9D378;
    font-weight: 400;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 1.6em;
}

h3 {
    display: flex;
    justify-content: center;
    color: rgba(255,255,255,.4);
}

.footer-info {
    justify-content: center;
}
