/* This is the CSS-sheet covering the landing page specically */

.site-structure {
    width: 100%;
}



/*footer styles*/
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer-header {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #443836;
}
.form-structure {
    display:block;
    max-width: 790px;
    width: 100%;
    margin:0 20px;
    background-color: #A9D378;
    border: 6px solid #D5B027;
}

.input-name-mail {
    display:flex;
    margin-right: 70px;
    flex-wrap: wrap;
}
.input-field {
    border:none;
    list-style: none;
    min-height: 60px;
    margin-left: 31px;
    margin-top: 33px;
    flex-grow: 1;
}
.input-message-container {
    display:flex;
    margin-right: 70px;
    margin-top: 41px;
}
::placeholder {
    color:#D5B027;
}
.input-field-message {
    border:none;
    list-style: none;
    min-height: 164px;
    margin-left:31px;
    margin-bottom: 38px;
    flex-grow: 1;
    padding-top:20px;
}
.input-field:focus {
    outline-width: 1px;
    outline-color: #443836;
}
.font-input { 
    text-decoration: none;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #D5B027;
    padding-left:15px;
}
.btn {
    min-height: 40px;
    width: 33%;
    background-color: #443836;
    color: #f5f5f5;
    border:none;
    cursor: pointer;
    margin-left: 31px;
    margin-bottom: 38px;
}
.btn:hover {
    background-color: #d5b027; 
    
}
.btn:focus {
    background-color: #67bd57;
    outline:none;
}
